#main-div {
    display: flex;
    padding: 10px;
    margin: 15px;
}

#progress-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-number {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-card {
    --background: rgb(255, 255, 255);
    --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex !important;
    margin: auto;
    width: 90% !important;
}

ion-card-title {
    --color: black;
}

ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}