<ion-content>
  <div id="main-div">
    <!-- Daily progress bar -->
    <ion-card class="progress-card">
      <ion-card-content>
        <div id="progress-bar">
          <div id="progress-number">
            {{progressPercentage}}
          </div>
          <round-progress [current]="currentProgress" [max]="dailyGoal" [color]="getColor()" [background]="'#CECFD1'"
            [rounded]="true" [radius]="calculateRadius()" [stroke]="calculateStroke()" />
        </div>
      </ion-card-content>
    </ion-card>


    <!-- Today's stats -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Today's stats</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="stats-card">
          <ion-item>
            <ion-label>Progress</ion-label>
            <ion-badge slot="end">{{currentProgress}} ml of {{dailyGoal}} ml</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Last Drink</ion-label>
            <ion-badge slot="end">{{lastDrink}}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Today's drinks</ion-label>
            <ion-badge slot="end">{{todaysDrinks}}</ion-badge>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>

    <!-- Add drink section -->
    <ion-card id="drink-card">
      <ion-card-header>
        <ion-card-title>Add Drink</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-col>
            <ion-row>
              <ion-button expand="block" (click)="addProgress(200)">200ml</ion-button>
            </ion-row>
            <ion-row>
              <ion-button expand="block" (click)="addProgress(330)">330ml</ion-button>
            </ion-row>
            <ion-row>
              <ion-button expand="block" (click)="addProgress(500)">500ml</ion-button>
            </ion-row>
          </ion-col>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
