#welcome-div {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    margin: 90px 25px 0px 25px;
}

#welcome-title {
    font-size: 70px;
    font-weight: 600;
}

#welcome-p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    padding: 0 20px;
}

#user-details {
    margin: 85px auto;
    padding: 0 20px;
}

ion-input {
    --background: #f5f5f59a;
    --placeholder-color: #3f3f3f;
    --padding-start: 15px;
    --padding-end: 15px;
    --color: #3f3f3f;
}