#welcome-div {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    margin-left: 25px;
    margin-top: 90px;
}

#welcome-title {
    font-size: 70px;
    font-weight: 600;
}

#welcome-p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    padding: 0 20px;
}