<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="welcome-div">
    <ion-title id="welcome-title">Hello.</ion-title>
    <p id="welcome-p">
      Let's get started.<br /> 
      Enter your details below to create an account!
    </p>

    <div id="user-details">
        <ion-input class="ion-margin-bottom" aria-label="Email" placeholder="Email"></ion-input>
        <ion-input class="ion-margin-bottom" aria-label="Confirm Email" placeholder="Re-enter Email"></ion-input>
        <ion-input class="ion-margin-bottom" aria-label="Password" placeholder="Password" type="Password"></ion-input>
        <ion-input class="ion-margin-bottom" aria-label="Confirm Password" placeholder="Re-enter Password" type="Password"></ion-input>

        <ion-button expand="full" color="primary">Register</ion-button>
    </div>
  </div>
</ion-content>
